<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.figo.designdemo" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    !-- If you want to declare that your app is available to BLE-capable devices only,
    include the following in your app's manifest:
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.figo.designdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.figo.designdemo.SecondActivity"
            android:label="@string/title_activity_second" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.figo.designdemo.MainActivity" />
        </activity>
        <activity android:name="com.figo.designdemo.DeviceListActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Dialog"/>
        <service android:enabled="true" android:name="com.figo.designdemo.UartService" />
    </application>

</manifest>
